.hide-items{
  opacity: 0;
  transition: opacity 1.5s ease-out;

  &--visible-items{
    opacity: 1;
  }
}
.hide-testimonial{
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);

  &--visible-testimonial{
    opacity: 1;
    transform: scale(1);
  }
}
